<div class="cadastro-container">
  <h2>Cadastro</h2>
  <form (ngSubmit)="cadastrarUsuario()" #cadastroForm="ngForm">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" name="nome" [(ngModel)]="usuario.nome" class="form-control" required minlength="3">
      <div *ngIf="cadastroForm.controls['nome']?.invalid && (cadastroForm.controls['nome'].dirty || cadastroForm.controls['nome'].touched)">
        <small class="text-danger">Por favor, preencha seu nome.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="emailUsuario">Email</label>
      <input type="email" name="emailUsuario" [(ngModel)]="usuario.email" class="form-control" required minlength="3">
      <div *ngIf="cadastroForm.controls['emailUsuario'].invalid && (cadastroForm.controls['emailUsuario'].dirty || cadastroForm.controls['emailUsuario'].touched)">
        <small class="text-danger">Por favor, preencha seu email.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="dataDeNascimento">Data de Nascimento</label>
      <input type="date" name="dataDeNascimento" [(ngModel)]="usuario.dataDeNascimento" class="form-control" required>
      <div *ngIf="cadastroForm.controls['dataDeNascimento'].invalid && (cadastroForm.controls['dataDeNascimento'].dirty || cadastroForm.controls['dataDeNascimento'].touched)">
        <small class="text-danger">Por favor, preencha sua data de nascimento.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="altura">Altura</label>
      <input type="number" name="altura" [(ngModel)]="usuario.altura" class="form-control" required minlength="3">
      <div *ngIf="cadastroForm.controls['altura'].invalid && (cadastroForm.controls['altura'].dirty || cadastroForm.controls['altura'].touched)">
        <small class="text-danger">Por favor, preencha sua altura.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="peso">Peso</label>
      <input type="number" name="peso" [(ngModel)]="usuario.peso" class="form-control" required minlength="3">
      <div *ngIf="cadastroForm.controls['peso'].invalid && (cadastroForm.controls['peso'].dirty || cadastroForm.controls['peso'].touched)">
        <small class="text-danger">Por favor, preencha seu peso.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="senhaUsuario">Senha</label>
      <input type="password" name="senhaUsuario" [(ngModel)]="usuario.senha" class="form-control" required minlength="4">
      <div *ngIf="cadastroForm.controls['senhaUsuario'].invalid && (cadastroForm.controls['senhaUsuario'].dirty || cadastroForm.controls['senhaUsuario'].touched)">
        <small class="text-danger">Sua senha deve conter no mínimo 4 caracteres.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="confirmarSenha">Confirmar Senha</label>
      <input type="password" name="confirmarSenha" [(ngModel)]="usuario.confirmarSenha" class="form-control" required minlength="3">
      <div *ngIf="cadastroForm.controls['confirmarSenha'].invalid && (cadastroForm.controls['confirmarSenha'].dirty || cadastroForm.controls['confirmarSenha'].touched)">
        <small class="text-danger">Por favor, preencha sua confirmação de senha.</small>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
    <button type="button" (click)="voltar()" class="btn btn-secondary">Voltar</button>
  </form>
</div>