.perfil-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .perfil-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .perfil-container p {
    margin-bottom: 10px;
  }
  
  .perfil-container input[type="text"] {
    width: calc(100% - 80px);
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .perfil-container button {
    padding: 10px 20px;
    background-color: #264653;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .perfil-container button:hover {
    background-color: #2a9d8f;
  }
  
  .perfil-container .endereco-info {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }