
<div class="details-container">
    <h2>Detalhes</h2>
    <div class="card-container">
        <div class="card-body">
            <img [src]="alimentoID.imageLink" alt="Imagem do alimento">
            <h5 class="card-title">{{ alimentoID.name }}</h5>
            <p class="card-text">{{ alimentoID.description }}</p>
            <p class="card-text">Calorias: {{ alimentoID.qttCalories }}</p>
            <p class="card-text">Quantidade de dias para consumir: {{ alimentoID.qttDaysFeed }}</p>
        </div>
    </div>
</div>
