.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.card-container {
    width: 400px; /* largura do card */
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
    text-align: center;
}

.card-title {
    font-size: 24px;
    margin-top: 10px;
}

.card-text {
    font-size: 18px;
    margin-top: 5px;
}
.card-body img {
    max-width: 100%; /* Limita a largura da imagem para ocupar no máximo a largura do card */
    height: auto; /* Mantém a proporção da imagem */
}