<div>
    <form (ngSubmit)="entrar()" #loginForm="ngForm">
    <div>
<label for="emailUsuario">Email</label>
<input 
type="text" 
name="emailUsuario"
[(ngModel)]="login.emailUsuario"
#emailUsuario="ngModel">
    </div>
    <div>
        <label for="senhaUsuario">Senha</label>
        <input 
        type="password" 
        name="senhaUsuario"
        [(ngModel)]="login.senha"
        #senha="ngModel">
    </div>
    <div>
        <button type="submit">Entrar</button>
        <button>Esqueci minha senha</button>
        <button>Cadastrar</button>
    </div>
</form>