<div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="entrar()" #loginForm="ngForm">
        <div class="form-group">
            <label for="emailUsuario">Email</label>
            <input type="text" name="emailUsuario" [(ngModel)]="login.emailUsuario" #emailUsuario="ngModel">
        </div>
        <div class="form-group">
            <label for="senhaUsuario">Senha</label>
            <input type="password" name="senhaUsuario" [(ngModel)]="login.senha" #senha="ngModel">
        </div>
        <div class="form-group">
            <button type="submit" class="btn-primary">Entrar</button>
            <button type="button" class="btn-secondary" (click)="esqueciMinhaSenha()">Esqueci minha senha</button>
            <button type="button" class="btn-secondary" (click)="cadastrar()">Cadastrar</button>
        </div>
    </form>
</div>