<div class="container">
    <!-- Campo de pesquisa -->
    <input type="text" [(ngModel)]="pesquisa" (input)="pesquisarAlimento()" placeholder="Pesquisar alimentos">
  
    <!-- Lista de alimentos em cards -->
    <div class="card-container">
      <div class="card" *ngFor="let alimento of alimentosFiltrados" (click)="detalhar(alimento.id)" >
        <img [src]="alimento.imageLink" alt="Imagem do alimento" >
        <div class="card-body">
          <h5 class="card-title">{{ alimento.name }}</h5>
        </div>
      </div>
    </div>
  </div>